---
apiVersion: v1
kind: Service
metadata:
  name: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}-service
  namespace: {{ advanced_monitoring.grafana.namespace|default(advanced_monitoring.defaults.namespace) }}
  labels:
    k8s-app: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
    app.kubernetes.io/name: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
    app.kubernetes.io/component: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
spec:
  ports:
    # Routes port 80 to port 3000 of the Grafana StatefulSet Pods
{% if advanced_monitoring.grafana.expose is defined and advanced_monitoring.grafana.expose is sameas true %}
    - name: http
      nodePort: {{ advanced_monitoring.grafana.host_port|default("32000") }}
      port: 80
      protocol: TCP
      targetPort: 3000
  type: NodePort
{% else %}
    - name: http
      port: 80
      protocol: TCP
      targetPort: 3000
  type: ClusterIP
{% endif %}
  selector:
    k8s-app: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
