---
apiVersion: v1
kind: Secret
metadata:
  name: {{ advanced_monitoring.grafana.namespace|default("grafana") }}-secret
  namespace: {{ advanced_monitoring.grafana.namespace|default(advanced_monitoring.defaults.namespace) }}
  labels:
    app.kubernetes.io/name: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
    app.kubernetes.io/component: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
type: Opaque
data:
  admin-user: {{ advanced_monitoring.grafana.admin_user|default("YWRtaW4=") }}
  admin-password: {{ advanced_monitoring.grafana.admin_password|default("YWRtaW4=") }}
