---
apiVersion: v1
kind: ServiceAccount
metadata:
  namespace: {{ advanced_monitoring.grafana.namespace|default(advanced_monitoring.defaults.namespace) }}
  name: {{ advanced_monitoring.grafana.giving_name|default("grafana") }}
