---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ advanced_monitoring.prometheus.manespace|default(advanced_monitoring.defaults.manespace) }}
  labels:
    name: {{ advanced_monitoring.prometheus.manespace|default(advanced_monitoring.defaults.manespace) }}
    purpose: {{ advanced_monitoring.prometheus.manespace|default(advanced_monitoring.defaults.manespace) }}
